.contact-form-container{
	font-family: var(--font-family-primary);
	.title{
		font-weight: bolder;
		padding: 10px 0;
	}
}
.recaptcha{
	display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.95);
}