<div class="contact-form-container">
	<div class="title d-flex align-items-center justify-content-center">
		<h3>CONTACTO</h3>
	</div>
	<form [formGroup] = "contactForm" (ngSubmit)="onSubmit()"> 
		<div class="mb-3">
			<label 
				[ngClass] = "displayFieldClass('name')"
				for="name" class="form-label">Nombre y apellido</label>
			<input type="text" class="form-control form-control-sm" id="name" formControlName="name">
			<div class="invalid-feedback">
				El campo es requerido	
			</div>
		</div>
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input 
				[ngClass] = "displayFieldClass('email')"
				type="email" class="form-control form-control-sm" id="email" formControlName="email">
			<div class="invalid-feedback">
				El campo es requerido	
			</div>
		</div>
		<div class="mb-3">
			<label for="subject" class="form-label">Asunto</label>
			<input 
				[ngClass] = "displayFieldClass('subject')"
				type="text" class="form-control form-control-sm" id="subject" formControlName="subject">
			<div class="invalid-feedback">
				El campo es requerido	
			</div>
		</div>
		<div class="mb-3">
			<label for="message" class="form-label">Mensaje</label>
			<textarea 
				[ngClass] = "displayFieldClass('message')"
				class="form-control form-control-sm" id="message" formControlName="message" rows="3"></textarea>
			<div class="invalid-feedback">
				El campo es requerido	
			</div> 
		</div>
		<div class="mb-3 recaptcha">
			<ngx-recaptcha2 #captchaElem
				[siteKey]="siteKey"
				(success)="handleSuccess($event)"
				formControlName="recaptcha">
			</ngx-recaptcha2>
		</div>
		<button type="submit" [disabled]="submitDisabled()" class="btn btn-primary">Submit</button>
	</form>
</div>
