.users-table{
	width: 100%;
	padding: 20px;
	table{
		font-size: 12px !important;
	}
}
.users-form{
	padding: 20px;
	form{
		width: 100%;
	}
}
.users-form.visible{
	display: flex;
	height: auto;
	width: 100%;
}
.users-form.hidden{
	display: none;
}

.table th, .table td{
	text-align: center;
}
option{
	font-size: small; 
	padding: 5px;
}
.field-required{
	color: red;
}
.btn-conatiner{
	background-color: lightgray;
	.new-user-btn{
		width: auto;
		margin: 5px;
	}
}

.btn:focus{
	box-shadow: none !important;
}

.table-buttons{
	font-size: .5rem;
	margin: 0 2px;
}