.edit-buttons-container{
	top: 0;
	right: 0;
	margin: 10px;
	.delete-container{
		&:hover{
			background-color: var(--color-hoover-primary);
			border-radius: 50%;
			i{
				color: white;
			}
		}
		.delete{
			color: var(--color-tertiary);
		}
	}
	.edit-container{
		&:hover{
			background-color: var(--color-hoover-primary);
			border-radius: 50%;
			i{
				color: white;
			}
		}
		.edit{
			color: var(--color-tertiary);
		}
	}

	
}