.container-fluid{
	padding: 0;
}
.navbar{
	//background-color: var(--color-tertiary);
	z-index: 1;
	height: var(--nav-height);
}

.nav-link{
	&:hover{
		background-color: var(--color-hover-primary);
		border-radius: 5px;
	}
}

/*
.menu-content{
	position: absolute;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary);
	z-index: 1;

	.configuration a{
		width: 100%;
		align-items: center;
		text-decoration: none !important;
		color: inherit;
	}
}
*/
.social-links{
	position: fixed;
	flex-direction: column;
	overflow: hidden;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--color-primary);
	border-radius: 10px 0 0 10px;
	z-index: 1;
    opacity: 0.9;
	&:after{
		content: "";
		border: solid;
		border-width: thick;
		border-color: transparent white transparent transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	ul{
		visibility: hidden;
		width: 10px;
	}
	&:hover{
		&:after{
			content: "";
			border: none;
		}
		ul{
			visibility: visible;
			width: auto;
			height: auto;
		}
	}
}


span{
	font-size: 1rem;
}

#login-btn{
	cursor: pointer;
	a{
		text-decoration: none;
		color: inherit;
	}

}
