<header >
	<nav
		[ngClass] = "changeNavbarColor ? 'dark': 'transparent'"
		class="navbar navbar-light navbar-expand-md position-fixed p-0 w-100">
		<div class="navbar-container container-fluid justify-content-between">
			<div class="col-sm-3 p-2">
				<app-nav-brand></app-nav-brand>
			</div>
			<div class="menu-content d-flex flex-row p-2">
				<div
					*ngIf= "isAuthenticated()"
					id="login-btn" 
					class="nav-link text-light"	
				>	
					<a routerLink="/configuration">
						<span class="d-flex align-items-center"><i class="bi bi-gear-fill fs-5"></i><span style="padding-left: 5px;">Configuración</span></span>
					</a>
				</div>
				<div 
					*ngIf= "!isAuthenticated()"
					id="login-btn" 
					class="nav-link text-light"	
				>
					<a routerLink="/login">
						<span class="d-flex align-items-center"><i class="bi bi-box-arrow-right fs-5"></i><span style="padding-left: 5px;">Entrar</span></span>
					</a>
				</div>
				<div
					*ngIf= "isAuthenticated()"
					id="login-btn" 
					class="nav-link text-light"	
					(click) = "logout()"
				>	
					<span class="d-flex align-items-center"><i class="bi bi-box-arrow-left fs-5"></i><span style="padding-left: 5px;">Salir</span></span>
				</div>
			</div>
		</div>
	</nav>
	<div class="d-flex social-links">
		<ul class="navbar-nav d-flex">
			<app-nav-social
				*ngFor="let social of socialData"
				[social] = "social"
				
			></app-nav-social>
		</ul>
	</div>
</header>







<!--
	<header >
	<nav class="navbar navbar-expand-md position-fixed p-0">
		<div class="container-fluid">
			<app-nav-brand></app-nav-brand>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-items" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon "></span>
			</button>
			<div class="collapse navbar-collapse justify-content-md-end" id="nav-items">
				<div class="d-flex flex-column flex-md-row align-items-center">
					<ul class="navbar-nav d-flex flex-row justify-content-center justify-content-md-end">
						<app-nav-social
							*ngFor="let social of socialData"
							[social] = "social"
							
						></app-nav-social>
					</ul>
					<div id="login-btn" class="nav-link text-light">
						<span>Editar</span>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
-->