.card{
	margin-bottom: 20px;
	.project-title{
		border-bottom: 1px solid lightgray;
		padding: 20px;
		background-color: white;
		color: var(--color-primary);
		border-radius: 10px 10px 0 0;
		h5{
			margin: 0 !important;
		}
	}
	.main-image-container{
		border-bottom: 1px solid lightgray;
		padding: 10px 5px;
		max-height: 250px;
		position: relative;
		.hoverEffect{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			&:hover{
				background-color: rgba(17, 17, 17, 0.459);
				transition: all 0.5s;
				cursor: pointer;
			}
		}		
	}
}
.card-footer{
	.skills-container{
		padding: 5px;
		.skill-name{
			margin-left: 10px;
		}
		.badge:empty{
			display: inline-block;
		}
	}
}

@media screen and (min-width: 768px){
	.card{
		margin-bottom: 1rem;
		break-inside: avoid;
	}
}