.card{
	margin-bottom: 20px;
	.project-title{
		border-bottom: 1px solid lightgray;
		padding: 20px;
		background-color: white;
		color: var(--color-primary);
		border-radius: 10px 10px 0 0;
		h5{
			margin: 0 !important;
		}
	}
	.main-image-container{
		border-bottom: 1px solid lightgray;
		padding: 10px 5px;
		max-height: 250px;
	}
}
.card-footer{
	.skills-container{
		padding: 5px;
		.skill-name{
			margin-left: 10px;
		}
		.badge:empty{
			display: inline-block;
		}
	}
}

@media screen and (min-width: 768px){
	.card{
		margin-bottom: 1rem;
		break-inside: avoid;
	}
}