<div class="card">
	<app-edit
		(editEventEmitter) = "editProject()"
		(deleteEventEmitter) = "deleteProject()"
		class="edit-project"
	>
	</app-edit>
	<div class="main-image-container d-flex	">
		<img class="card-img-top" [attr.src]="project.photos[0].projectPhotoPath" />
	</div>
	<div class="card-body">
		<h5 class="card-title">{{project.title}}</h5>
		<p class="card-title"><small>{{project.startDate | date :'dd/MM/YYYY'}} - {{project.endDate | date :'dd/MM/YYYY'}}</small></p>
		<p class="card-text">
			{{project.description}}
		</p>
	</div>
	<div class="card-footer text-muted d-inline">
		<div *ngFor="let skill of project.skills" class="d-inline-block skills-container align-items-center">
			<h6 class="d-inline-block m-0"><span class="badge" [style.background-color]="skill.color"></span></h6>
			<div class="skill-name d-inline-block"><small><span>{{skill.name}}</span></small></div>
		</div>
	</div>
</div>
