<section class="work-experiences row">
	<app-section-title
		class="p-0"
		[sectionName] = "'Experiencias Laborales'"
		(addRecordEmitter) = "showAddWorkDialog()"
	>
	</app-section-title>
	<app-dialog [id] = "addWorkDialogId">
		<div title>Añadir nueva experiencia laboral</div>
		<div body>
			<app-work-form
				[work]= "null"
				[purpose] = "'New'"
			></app-work-form>
		</div>
	</app-dialog>
	<app-dialog [id]="editWorkDialogId">
		<div title>Editar Experiencia de trabajo</div>
		<div body>
			<app-work-form 
				[work]="currentWork"
				[purpose] = "'Edit'"
			></app-work-form>
		</div>
	</app-dialog>
	<div class="work-experiences-container row">
		<app-work-experience
			*ngFor="let work of workExperiences"
			[work] = "work"
			class="work-experience col-sm-12 col-md-6 col-lg-4"
			(openEditDialogEmitter) = "showEditDialog($event)"
		>
		</app-work-experience>
	</div>
</section>