.work-experiences-container{
    padding: 20px 0 10px 0 !important;
    margin: 0 !important;
}
.row{
	margin: 0 !important;
}
.work-experience{
	padding: 10px;
}

.work-experiences{
	position: relative;
	padding-bottom: 60px;

}

@media screen and(max-width: 768px){
	.work-experiences{
		&:before{
			display: none !important;
		}
	}
}