.work-experiences-container{
	padding: 0 10px !important;
    margin: 0 !important;
}
.row{
	margin: 0 !important;
}
.work-experience{
	padding: 10px;
}

.work-experiences{
	margin-bottom: 20px !important;
}