$sectionNameTransformY: -25px;

.section-title{
	//box-shadow: 0px -0.5px 0.5px 0.5px rgba(211, 211, 211, 0.644);
	font-family: var(--font-family-primary);
	font-style: italic;
	color: white;
	.section-title-content{
		width: 100%;
		align-items: center;
		position: relative;
		.add-button-container{
			position: absolute;
			color: var(--color-tertiary);
			justify-content: center;	
			background-color: var(--color-btn-primary);
			height: 100%;
			color: white;
			width: 100px;
			&:hover{
				background-color: var(--color-hover-secondary);
				color: white;
			}
		}
	}
}

.section-title.left{
	.section-title-content{
		//transform: skewY(-2deg) translateY(-20%);
		.section-name{
			padding: 40px 0;
			background-color: var(--color-background-primary);
		}
		.add-button-container{


		}
	}
}

.section-title.right{
	.section-title-content{
		//transform: skewY(2deg) translateY(-20%);
		.section-name{
			padding: 40px 0;
			background-color: var(--color-background-secondary);
		}
		.add-button-container{

		}
	}
}


