.alert-message{
    position: fixed;
    z-index: 1;
    right: 0;
	bottom: 0;
    height: 150px;

    white-space: pre-wrap;
}

.visible-alert{
	display: flex;
	align-items: center;
    min-width: 400px;
	margin-right: 1rem;
    justify-content: center;
    border-radius: 0px;
	border-radius: 10px;
	animation: showAlert 0.4s linear;
}

.hidden-alert{
	display: flex;
	align-items: center;
    min-width: 400px;
    justify-content: center;
	margin-right: 1rem;
    border-radius: 0px;
	border-radius: 10px;
	animation: hideAlert 0.4s forwards 0s linear;
}

@keyframes hideAlert {
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(120%);
		display: none;
	}
}

@keyframes showAlert {
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(0);
	}
}

.alert-close{
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	button:focus{
		box-shadow: none;
	}
}
@media (max-width: 768px) {
	.visible-alert, .hidden-alert{
		min-width: auto;
		width: 80%;
	}

}