.form-container{
	justify-content: center;
    margin: auto;
    height: 100vh;
    align-items: center;
	padding: 20px;
	background-color: var(--color-tertiary);
}
.form-group-container{
	border-radius: 20px;
	padding: 30px;
	background-color: white;
}
.save-btn{
	margin-top: 10px;
}