<form [formGroup]="skillForm" (ngSubmit)="onSubmit($event)">
	<div>
		<div class="row">
			<div class="col-12 mb-3">
				<label for="name" class="form-label">Nombre: </label><span  class="field-required">*</span>
				<input 
					[ngClass] = "displayFieldClass('name')"
					class="form-control form-control-sm" 
					type="text" 
					name="name" 
					id="name" 
					formControlName = "name"
				>
				<div class="invalid-feedback">
					Insertar nombre de la habilidad
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3">
				<label for="logo" class="form-label">Logo: </label><span *ngIf="purpose === 'New'" class="field-required">*</span>
				<input 
					(change) ="onFileSelect($event)" 
					[ngClass] = "displayFieldClass('logo')"
					class="form-control form-control-sm" 
					type="file" 
					name="logo" 
					id="logo"
					formControlName = "logo"
				>
				<div class="invalid-feedback">
					Seleccionar logo de la habilidad
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3">
				<label for="color" class="form-label">Color: </label><span  class="field-required">*</span>
				<input 
					[ngClass] = "displayFieldClass('color')"
					class="form-control form-control-sm" 
					type="color" 
					name="color" 
					id="color"
					formControlName="color"
				>
				<div class="invalid-feedback">
					Seleccionar un color que represente la habilidad
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-12 mb-3">
				<label for="level" class="form-label">Nivel: </label><span  class="field-required">*</span>
				<select 
					[ngClass] = "displayFieldClass('level')"
					class="form-select" name="level" aria-label="" formControlName="level">
					<option value="" selected hidden>Seleccionar nivel</option>
					<option *ngFor="let option of selectOptions" [attr.value]="option">
						{{option}}
					</option>	
				</select>
				<div class="invalid-feedback">
					Seleccionar el nivel de la habilidad
				</div>
			</div>
		</div>

		<button type="submit" [disabled]="isLoading" class="btn btn-primary w-100 p-3 position-relative">
			<span *ngIf="!isLoading">Guardar</span>
			<span *ngIf="isLoading">
				<app-loading></app-loading>
			</span>
		</button>
	</div>
</form>