.we{
    border: 1px solid var(--shadow-color);
	border-radius: 15px;
	box-shadow: 1px 1px 5px 1px var(--shadow-color);
    -webkit-box-shadow: 1px 1px 5px 1px var(--shadow-color);
    -moz-box-shadow: 1px 1px 5px 1px var(--shadow-color);
	opacity: 1;
	min-height: 300px;
}
#work-experience-logo{
	width: 175px;
	margin: 40px;
	border-radius: 100px;
}

.work-experience-title{
	 background-color: var(--color-primary);
	 margin: 0;
	 padding: 15px;
	 color: white;
	 font-size: 22px;
	 font-weight: bold;
	 font-family: var(--font-family-primary);
}

.work-experience-logo-container{
	width: 100%;
	background: white;
	border-radius: 15px 15px 0 0;
}

.info{
	padding: 20px;
	width: 100%;
	height: 100%;
	background: #f4f4f4;
	border-radius: 0px 0px 15px 15px;
	font-family: var(--font-family-primary);
	font-size: 15px;
}
.info:hover{
	transform: rotateY(0deg);
	animation: animate 1s linear 1;
}

