	<div id="" class="we d-flex position-relative flex-column justify-content-center align-items-center">
		<app-edit
			(editEventEmitter) = "editWork()"
			(deleteEventEmitter) = "deleteWork()"
		>
		</app-edit>
		<div class="work-experience-logo-container d-flex justify-content-center">
			<img id="work-experience-logo" [attr.src]="work.companyLogoPath">
		</div>
		<div class="info d-flex flex-column justify-content-center p-0">
			<p class="d-flex justify-content-center work-experience-title">{{work.companyName}}</p>
			<div class="d-flex flex-column p-2">
				<p class="mt-3"><b>Fecha inicio: </b>{{work.startDate}}</p>
				<p><b>Fecha fin: </b>{{work.endDate}}</p>
				
				<p>
					<b>Duración: </b>
					<span *ngIf="work.durationYears != 0">{{work.durationYears}} años</span>  
					<span *ngIf="work.durationMonths != 0"> {{work.durationMonths}} meses</span>
				</p>
				<p><b>Posición: </b>{{work.position}}</p>
				<p><b>Descripción: </b>{{work.description}}</p>
				<p><b>Tel.: </b>{{work.tel}}</p>
			</div>
		</div>
	</div>
