<section class="projects">
	<app-section-title
		class="p-0"
		[sectionName] = "'Proyectos'"
		(addRecordEmitter) = "showAddProjectDialog()"
		side = "right"
	>
	</app-section-title>
	<app-image-display
		[project] = "currentProject"
	>
	</app-image-display>
	<app-dialog [id] = "addProjectDialogId">
		<div title>Añadir nuevo projecto</div>
		<div body>
			<app-project-form
				[project]= "null"
				[purpose] = "'New'"
			></app-project-form>
		</div>
	</app-dialog>
	<app-dialog [id]="editProjectDialogId">
		<div title>Editar projecto</div>
		<div body>
			<app-project-form 
				[project]="currentProject"
				[purpose] = "'Edit'"
			></app-project-form>
		</div>
	</app-dialog>


	<div class="projects-container card-columns">
		<app-project-item
			*ngFor="let project of projects"
			[project] = "project"
			(openImageDisplayEmitter) = "showImageDisplay($event)"
			(openEditDialogEmitter) = "showEditDialog($event)"
		>
		</app-project-item>
	</div>
</section>

