.education-logo{
	max-width: 150px !important;
	aspect-ratio: 1 / 1;
	.logo{
		max-width: 100%;
		max-height: 100%;
		border-radius: 200px;
	}
}

.education-content{
	padding: 5px 15px;
	width: 100%;
	p{
		font-size: 15px;
		font-family: var(--font-family-primary);	
		margin: 0;
	}
	.title{
		white-space: pre-line;
	}
	.time{
		display: flex;
		flex-direction: column;
		flex-basis: content;
		align-items: center;
		padding: 0 15px;
	}
	h3{
		width: 100%;
		padding-bottom: 5px;
		text-align: center;
		font-style: italic;
		color: rgb(105, 105, 105);
	}
}