<div class="d-flex banner">
	<div class="d-flex flex-column banner-content">

		<div class="d-flex align-items-center banner-background">
			<div *ngIf="windowWidth >= 768; else secondTitle" class="pointing-background">
				<img src="/assets/img/first-background.svg" alt="">
			</div>
			<ng-template #secondTitle >
				<div class="pointing-background">
					<img src="/assets/img/second-background.svg" alt="">
				</div>
			</ng-template>

			<div class="title-background">
				<img src="/assets/img/title-background.svg" alt="">
			</div>
		</div>
		
		<div class="d-flex banner-info">
			<div class="d-flex flex-column flex-md-row info-container align-items-center">
				<div class="d-flex text-center p-0 banner-photo">
					<div class="d-flex h-100 img-container">
						<img src="../../../assets/img/picture-of-me.png" alt="">
					</div>
				</div>
				<div 
					id="carousel-info" 
					class="carousel slide" 
					data-bs-ride="carousel"
					data-bs-interval="20000"
				>
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<div class="first-comment">
							Mi nombre es Guillermo Scarello y soy programador web junior. 
							Me gusta la programacion y los lugares a los cuales esta disiplina puede llegar. Desde pequeñas paginas webs, grandes e-commerce, robotica, IoT, etc., hoy en dia la programación esta en todos lados. Es en base a lo anterior que encuentro imprescindible en la actualidad entender del tema y la razón por la cual me capacito.
						</div>
					  </div>
					  <div class="carousel-item">
						<div class="second-comment">
							Ademas de la programación, tengo un título en Ingeniería Electromecánica y varios años de trabajo en PyMes de la ciudad de San Franicso, Córdoba. Y a medida que pasan los años veo la mayor incidencia que la tecnología y sus disciplinas tienen en las empresas.
							Si quiere ver algo mas sobre mi, lo inivito a mirar la página. Muchas gracias!
						</div>
					  </div>
					</div>
				  </div>
			</div>
		</div>
	</div>
</div>
