<div class="banner">
	<div class="row banner-content">
		<div class="col-sm-3 text-center p-0 banner-photo">
			<div class="d-flex align-items-center justify-content-end h-100">
				<img class="bg-secondary" src="../../../assets/img/photo.png" alt="">
			</div>
		</div>
		<div class="col-sm-9 bg-secondary" style="padding-right: 0;">
			<div class="row m-0 p-0" style="height: 15%;"></div>
			<div class="info-container">
				<div class="info-content col">
					<!--<app-carousel></app-carousel>-->
				</div>
			</div>
			<div class="row m-0 p-0" style="height: 15%;"></div>
		</div>
	</div>
</div>
