.banner{

	height: 100vh;
	position: relative;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: rgb(219, 219, 219);

	.banner-content{
		width: 100%;
		display: flex;
		flex-direction: column;
		.banner-gears{
			position: relative;
			background-image: linear-gradient(to left bottom, #003342, #004053, #004e65, #015c77, #036a8a);			width: 100%;
			height: 70%;
			.gears{
				.gears1{
					position: absolute;
					width: 550px;
					left: -75px;
					bottom: 0;
				}
				.gears2{
					position: absolute;
					width: 300px;
					right: -125px;
					bottom: -60%;
				}
				.gears3{
					width: 225px;
					position: absolute;
					bottom: -10px;
					transform: translateY(100%);
				}
				.banner-photo{
					position: absolute;
					bottom: 0;
					transform: translateY(100%);
					.img-container{
						img{
							width: 225px;
							padding: 40px;
						}
					}	
				}
			}
		}
		

		.banner-info{
			height: 30%;
			background-color: #b0b4b4;
			margin: 40px 150px 40px 40px;
   			border-radius: 40px;
			.info-container {

				.info-content{

					p{

					}
				}
			}

		}
	}

}

svg {
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

@media (max-width: 768px) {
	.banner{
		.banner-content{

			.banner-photo{

				.img-container{
					img{

					}	
				}
			}
			.banner-info{

				.info-container {

					.info-content{

						p{

						}
					}
				}
		
			}
		}
	}
}


