.all-skills, .project-skills{
	width: 40%;
	select{
		width: 100%;
		height: 100%;
	}
	
}

.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
 }

.skills-buttons{
	width: auto;
}

.skills-to-save{
	font-size: 0.875em;
}

.field-required{
	color: red;
	font-weight: bold;
}