<section class="education d-flex flex-column">
	<app-section-title
		class="p-0"
		[sectionName] = "'Educación'"
		(addRecordEmitter) = "showAddEducationDialog()"
		side = "right"
	></app-section-title>
	<app-dialog [id] = "addEducationDialogId">
		<div title>Añadir nueva educacion</div>
		<div body>
			<app-education-form
				[education]= "null"
				[purpose] = "'New'"
			></app-education-form>
		</div>
	</app-dialog>
	<app-dialog [id]="editEducationDialogId">
		<div title>Editar educacion</div>
		<div body>
			<app-education-form 
				[education]="currentEducation"
				[purpose] = "'Edit'"
			></app-education-form>
		</div>
	</app-dialog>
	<div class="education-items-container">
		<app-education-item
		*ngFor="let e of educations"
		[education] = "e"
		(openEditDialogEmitter) = "showEditDialog($event)"
		></app-education-item>
	</div>
</section>
