<div class="timeline">
	<div [ngClass]="side ? 'position-container left' : 'position-container right'" >
		<div [ngClass]="side ? 'content-container left' : 'content-container right'">
				<div class="info">
					<ng-content select="[first]"></ng-content>
				</div>
				<div class="description">
					<ng-content select="[second]"></ng-content>
				</div>
				<div class="button-show-description d-flex align-items-center justify-content-center">
					<i class="bi bi-arrow-up-circle-fill fs-6"></i>
				</div>
		</div>
	</div>
</div>

