<div id="image-display" class="modal fade" tabindex="-1" role="dialog">	
	<div class="modal-dialog modal-lg modal-fullscreen-lg-down" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="btn-close" (click)="closeImageDisplay()" aria-label="Close">
			</button>
		</div>
		<div class="modal-body">
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<div *ngIf="project != undefined" class="carousel-inner">
					<ng-container *ngFor="let image of images; let i = index">
						<div 
							[ngClass] = "i === 0 ? 'active' : '' "
							class="carousel-item"
						>
							<img 
								[attr.src]="images[i]" 
								class="d-block w-100" 
								alt="...">
						</div>
					</ng-container>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Next</span>
				</button>
			  </div>
		</div>
	</div>
</div>
