/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
app-banner p{
	margin-top: 100px;
}
:root{
	--background-color-one: chartreuse;
	--background-color-two: rgb(61, 61, 61);
}

$button-color : white;

.edit-buttons-container{
	top: 0;
	right: 0;

	.delete-container{
		margin: 5px;
		.delete{
			color: $button-color;
			background-color: rgb(151, 0, 0);
		}
	}
	.edit-container{
		margin: 5px;
		.edit{
			color: $button-color;
			background-color: rgb(112, 112, 112);
		}
	}

	
}