/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
app-banner p{
	margin-top: 100px;
}
:root{
	--background-color-one: chartreuse;
	--background-color-two: rgb(61, 61, 61);
	--font-family-primary: Optima;
}
