/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
app-banner p{
	margin-top: 100px;
}

:root{
	--font-family-primary: Optima;
	/**/
	--color-primary: #2a4d69;
	--color-primary-75: #2a4d69bf;
	--color-secondary: #abc4d9;
	--color-secondary-75: #abc4d9bf;
	//##003f52
	--color-tertiary: #003342;
	--color-hover-primary: #08745d;
	--color-background-primary: #036a8a;
	--color-background-secondary: #086070;
	--shadow-color: #d8d8d8;

	--nav-height: 70px;

}
