<div id="{{dialogId}}" #{{dialogId}} class="modal fade" tabindex="-1" role="dialog">	
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">
				<ng-content select="[title]"></ng-content>
			</h5>
			<button type="button" class="btn-close" (click)="closeDialog()" aria-label="Close">
			
			</button>
		</div>
		<div class="modal-body">
			<div class="d-flex form-container">
				<ng-content select="[body]"></ng-content>
			</div>
		</div>
	</div>
</div>
